<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Googol Search Engine{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <script>
        const socket = new WebSocket("ws://localhost:8000/my-websocket");

        socket.onopen = () => {
            console.log("Connected to the server");
        };

        socket.onmessage = (event) => {
            console.log(event.data);
            document.getElementById('barrels').textContent = event.data;

        };

        socket.onclose = () => {
            socket.send("gone");
        };

    </script>

    <header>

        <p id="barrels">---</p>
        <h1>Googol Search Engine</h1>
        <!-- Barra de pesquisa -->
        <form onsubmit="event.preventDefault(); redirectTo('search');">
            <input type="text" id="userInput" name="value" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <!-- Opções -->
        <nav class="options">
            <a href="#" onclick="redirectTo('index')">Index a link</a>
            <a href="#" onclick="redirectTo('page')">See pages pointing to a page</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
        {% block back_home %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Engine</p>
    </footer>

    <script>
        function redirectTo(action) {
            const value = document.getElementById('userInput').value;
            if (!value) {
                alert("Please enter a value in the search bar first.");
                return;
            }
            window.location.href = `/${action}?value=${encodeURIComponent(value)}`;
        }
    </script>
</body>
</html>
