<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Googol Search Engine{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Googol Search Engine</h1>
        <form action="/search" method="get">
            <input type="text" name="value" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <!-- Opções como links -->
        <nav class="options">
            <a href="/index">Index a link</a>
            <a href="/page?value=">See pages pointing to a page</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Engine</p>
    </footer>
</body>
</html>
