<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Googol Search Engine{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <script>

        function connect() {

            const socket = new WebSocket("ws://localhost:8000/my-websocket");
            socket.onopen = () => {
                console.log("Connected to the server");
                const status = document.getElementById("stats_status");
                status.innerHTML="</h4> Status: on </h4>";
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);

                // fill barrels table with cells
                const barrelsBody = document.querySelector("#barrels-table tbody");
                barrelsBody.innerHTML = "";
                data.barrels.forEach(b => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${b.port}</td>
                        <td>${b.num_entries}</td>
                        <td>${b.avg_search_time.toFixed(2)}</td>
                    `;
                    barrelsBody.appendChild(row);
                });

                // put ordered top searches in list
                const topSearches = document.getElementById("top-searches");
                topSearches.innerHTML = "";
                data.top_searches.forEach(s => {
                    const li = document.createElement("li");
                    li.textContent = s;
                    topSearches.appendChild(li);
                });

            };

            socket.onclose = () => {
                const barrelsBody = document.querySelector("#barrels-table tbody");
                barrelsBody.innerHTML = "";
                const topSearches = document.getElementById("top-searches");
                topSearches.innerHTML = "";
                console.log("Connection closed, retrying in 1s...");
                setTimeout(connect, 1000);  // try to reconnect after 1 second     ~
                const status = document.getElementById("stats_status");
                status.innerHTML="</h4> Status: down </h4>";   
            };

        }

        connect();
        

    </script>

    <header>
        <h1>Googol Search Engine</h1>
        <!-- Barra de pesquisa -->
        <form onsubmit="event.preventDefault(); redirectTo('search');">
            <input type="text" id="userInput" name="value" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <!-- Opções -->
        <nav class="options">
            <a href="#" onclick="redirectTo('index')">Index a link</a>
            <a href="#" onclick="redirectTo('page')">See pages pointing to a page</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
        {% block back_home %}{% endblock %}
    </main>

    

    <section id="stats">
        <h4 id="stats_status"></h4>
        <h4>Active Barrels: </h4>
        <table id="barrels-table">
            <thead>
                <tr>
                    <th>Port</th>
                    <th># Entries</th>
                    <th>Avg Search Time(s)</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>    

        <h4>Top 10 Searches :</h4>
        <ol id="top-searches"></ol>
    </section>

    <footer>
        <p>&copy; 2025 My Engine</p>
    </footer>

    <script>
        function redirectTo(action) {
            const value = document.getElementById('userInput').value;
            if (!value) {
                alert("Please enter a value in the search bar first.");
                return;
            }
            window.location.href = `/${action}?value=${encodeURIComponent(value)}`;
        }
    </script>
</body>
</html>
